body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

header {
    background-color: lightseagreen;
}

main {
    background-color: lightcoral;
}

footer {
    background-color: lightskyblue;
}
